*{
    font-family: 'outfit','Young Serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3e6d8
}

#main-container{
    background-color:#ffffff ;
    height: 1730px;
    width: 700px;
    margin: 40px auto;
    line-height: 1.5;
    
}
.multi-container{
    padding-left: 40px;
    line-height: 2;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 30px;
}
.multi-container ol{
    list-style: decimal;
    padding-left: 25px;
    padding-top: 15px;
}

.multi-container ul{
    list-style: disc;
    padding-left: 25px;
    padding-top: 15px;
}
.prep-container{
    background-color: #fff5fa;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 20px;
    line-height: 2;margin-top: 20px;
    margin-bottom: 20px;
}
.prep-container ul{
    list-style: disc;
    padding-left: 20px;
    padding-top: 15px;
    }
.prep-container h3{
    color: #7b284f;
}

#image-container{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

#image-container img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.multi-container h1{
    font-family:'young-serif';
} 

.multi-container h2{
    font-family:'young-serif';
    color:#854632;
    padding-top: 2px;
    font-weight: bold;
}
.multi-container p{
    padding-top: 15px;
}

hr{
    width: 90%;
    margin: 20px auto;
    height: 3px;
    background-color: #e4dfdb;
    border: none;
}

.multi-container li::marker{
    color: #854632;
    font-weight: bold;
}

.multi-container table{
    width: 95%;
    border-collapse: collapse;
    margin: auto; 
    padding-left: 50px;
    padding-right: 50px;

}
.multi-container td{
    border-bottom:1px #e4dfdb solid;
    padding-left: 50px;
}

.multi-container td#bold-data {
    font-weight: bold;
    color: #854632; 
  }

.multi-container tr{
    line-height: 3;
}

@media screen and (max-width:700px) {
    #main-container{
    height: auto;
    width: 375px;
    margin: 0;
    line-height: normal;
    border-radius: 0px;
    }
    #image-container img{
        width: 100%;
        display: block;
        border-radius: 0px;
}
#image-container{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
}