*{
    font-family: 'Outfit',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#qr-code-container{
    height: 500px;
    width: 300px;
    background-color:#ffffff ;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}

.qr-code-img img{
    width: 300px;
    padding: 16px;
    border-radius: 15px;


}

.qr-code-img{
    text-align: center; 

}

body{
    background-color: #d6e2f0;
    
}
p{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    color: #68778d;

}

h2{
padding: 10;
color: #1f3251;
}

 @media screen and (max-width:430) {
    #qr-code-container{
        width: 400px;
    }
    
 }

 @media screen and (max-width:365) {
    #qr-code-container{
        width: 340px;
    }
    
 }